<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Calendario dinámico</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formularios.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nosotros.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
</head>
<body>
  <h1>Calendario dinámico de actividades</h1>

  <div class="form-group">
    <label>Selecciona el servicio:</label>
    <select id="serviceSelect">
      <option value="instalacion">Solo instalación</option>
      <option value="transporte">Solo transporte</option>
      <option value="ambos">Ambos servicios</option>
    </select>
  </div>

  <div class="contenedor">
    <div class="calendario">
      <h3>Selecciona una fecha</h3>
      <div id="calendar"></div>
    </div>

    <div class="productos">
      <h3>Selecciona tus productos</h3>
      <div id="productsList">Cargando...</div>
    </div>
  </div>

  <button id="confirmBtn">Confirmar cita</button>

  <script>
    const USER_ID = {{ user_id }};
  </script>
  <script src="{{ url_for('static', filename='static/js/calendar.js') }}"></script>
</body>
</html>
sddwa