
{% extends "common/base.html" %}

{% block title %}Catálogo | Casa en el Árbol{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}


<!-- Carrusel de imágenes -->
<div id="carouselProducto" class="carousel slide" data-bs-ride="carousel" style="margin-top: 200px;">
  <div class="carousel-inner">
    {% for img in producto.Imagenes %}
      <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
        <img src="{{ url_for('static', filename=img.split('static/')[1]) }}"
            class="d-block w-100"
            style="max-height: 400px; object-fit: cover;"
            alt="Imagen de {{ producto.NombreProducto }}">
      </div>
    {% endfor %}



  </div>

  <!-- Botones de control -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselProducto" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselProducto" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>

<h2>{{ producto.NombreProducto }}</h2>
<p><b>Material:</b> {{ producto.Material }}</p>
<p><b>Precio:</b> ${{ producto.PrecioUnidad }}</p>
<p><b>Color:</b> {{ producto.Color }}</p>
<p><b>Categoría:</b> {{ producto.NombreCategoria }}</p>
<p><b>Proveedor:</b> {{ producto.NombreEmpresa }}</p>




<style>
.carousel-item img {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
</style>

{% endblock %}

{% block extra_foour %}
<script src="{{ url_for('static', filename='js/catalogo.js') }}"></script>
{% endblock %}
