<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle del pedido</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formularios.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nosotros.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
    <!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
    .carousel-item {
  display: none;
}
.carousel-item.active {
  display: block;
}
</style>
</head>
<body>

    {% for img in producto.Imagenes %}
    <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
        <img src="{{ url_for('static', filename=img.split('static/')[1]) }}"
            class="d-block w-100"
            style="max-height: 400px; object-fit: cover;"
            alt="Imagen de {{ producto.NombreProducto }}">
    </div>
    {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProducto" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselProducto" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
    </div>
    {% else %}
    <p>Sin imágenes disponibles</p>
    {% endif %}


    <div class="detalle">
        <h2>Detalle del Pedido #{{ pedido.ID_Pedido }}</h2>
        <p><b>Cliente:</b> {{ pedido.Nombre }} {{ pedido.Apellido }}</p>
        <p><b>Teléfono:</b> {{ pedido.Telefono }}</p>
        <p><b>Correo:</b> {{ pedido.Correo }}</p>
        <p><b>Dirección:</b> {{ pedido.Destino }}</p>
        <p><b>Producto:</b> {{ pedido.NombreProducto }}</p>
        <p><b>Cantidad:</b> {{ pedido.Cantidad }}</p>

        <form action="{{ url_for('aprobar', id=pedido.ID_Pedido) }}" method="POST">
            <button type="submit">Aceptar proceso de envío</button>
        </form>
    </div>
    <!-- Bootstrap Bundle JS (incluye Popper) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
