<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle del pedido</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formularios.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nosotros.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
</head>
<body>

    {% if producto.imagenes %}
    <div id="carouselProducto" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for img in producto.imagenes %}
        <div class="carousel-item {% if loop.first %}active{% endif %}">
            <img src="{{ url_for('static', filename=img.replace('static/', '')) }}" 
                class="d-block w-100"
                alt="{{ producto.NombreProducto }}">
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProducto" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselProducto" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
    </div>
    {% else %}
    <p>Sin imágenes disponibles</p>
    {% endif %}


    <div class="detalle">
        <h2>Detalle del Pedido #{{ pedido.ID_Pedido }}</h2>
        <p><b>Cliente:</b> {{ pedido.Nombre }} {{ pedido.Apellido }}</p>
        <p><b>Teléfono:</b> {{ pedido.Telefono }}</p>
        <p><b>Correo:</b> {{ pedido.Correo }}</p>
        <p><b>Dirección:</b> {{ pedido.Destino }}</p>
        <p><b>Producto:</b> {{ pedido.NombreProducto }}</p>
        <p><b>Cantidad:</b> {{ pedido.Cantidad }}</p>

        <form action="{{ url_for('aprobar', id=pedido.ID_Pedido) }}" method="POST">
            <button type="submit">Aceptar proceso de envío</button>
        </form>
    </div>
</body>
</html>
