{% extends "administrador/admin_dashboard.html" %}
{% block title %}comentarios prodctos | Casa en el Árbol{% endblock %}

{% block extra_css %}
    <style>

        form{
            margin: 20px 0 0 4%;
            border:1px solid #e6e6e6;
            background-color: #fff;
            width: 80%;
            bottom: 370px;
            border-radius: 10px;
            font-size: 20px;
        }

        form input{
            width: 50%;
            text-align: left;
            margin-right: 20px;
        }

        select{
            height: 40px;
            width: 150px;
            font-size: 18px;
            border-radius: 10px;
        }

         .opciones{
           border:1px solid #e6e6e6;
           background-color: #fcfcfc;
           border-radius: 10px;
         
            top:200px;
            left: 10px;
            bottom: 0;
            height: 65%;
            width: 13%;
            

        }

        .opciones a{
            text-decoration: none;
            color: black;
            width: 80%;
            border-radius: 10px;
            height: 50px;
        }

        .a:hover{
            background-color: #7db243;
            color: white;
            width: 80%;
        }

        .a a:hover{
            color: white;
        }

        h2{
            color: #628D46;
            margin-top: 20px;
            margin-bottom: 30px;
            margin-left: 30%;
        }

        h1{
            padding: 20px;
        }

        .a{
            margin-top: 20px;
            width: 80%;
            border: 1px solid #c0c0c0;
            height: auto;
            position: relative;
            top: 20px;
            left: 10px;
            padding: 10px 20px;
            border-radius: 10px;
            background-color: #fff;
        }

        .volver{
           margin-top: 80px;
            width: 80%;
            border: 1px solid #c0c0c0;
            height: auto;
            position: relative;
            left: 10px;
            padding: 10px 20px;
            border-radius: 10px;
            background-color: #fff;
        }

        .volver:hover{
            background-color: #7db243;
            color: white;
            width: 80%;
        }

        .volver a:hover{
            color: white;
        }

        .content{
            color: black;
            margin-left: 30px;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        textarea{
            width: 80%;
        }

        form button{
            background-color: #7db243;
            color: white;
            border: none;
            border-radius: 10px;
            padding: 10pxn 30px;
            width: 250px;
            height: 50px;
        }

        form button:hover{
            background-color: transparent;
            color: #7db243;
            border: 1px solid #7db243;
        }

    </style>
{%endblock%}
{% block content %}

  <div style="display: flex;">

    <div class="opciones">
        <div class="a"><a href="/admin/estado" style="margin-top: 20px;">ESTADO</a></div>
        <div class="a"><a href="/admin/control_pedidos" style="margin-top: 20px;">PEDIDOS</a></div>
        <div class="a"><a href="/admin/comentarios" style="margin-top: 20px;">COMENTARIOS</a></div>
        <div class="a"><a href="/admin/reporte" style="margin-top: 20px;">REPORTE</a></div>
        <div class="volver"><a href="/admin/actualizacion_datos">VOLVER</a></div>
    </div>

    <form method="POST" action="{{ url_for('admin.actualizar_pedido_route') }}">
        <h2>ACTUALIZACION DE ESTADO</h2>
        <div class="content">
            <label for="pedido_id">ID del pedido:</label><br>
            <input type="number" name="pedido_id" required>

            <label for="estado">Nuevo estado:</label>
            <select name="estado" required>
                <option value="pendiente">Pendiente</option>
                <option value="en proseso">en proceso</option>
                <option value="en reparto">en reparto</option>
                <option value="entregado">entregado</option>
            </select><br><br>

            <label for="comentario">Comentario:</label><br>
            <textarea name="comentario" rows="3"></textarea><br><br>

            <button type="submit">Actualizar Pedido</button>
        </div>
    </form>
  </div>
{%endblock%}
