.modal-content {
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}


.custom-btn {
  background-color: #74b84f;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  padding: 10px 20px;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
  white-space: nowrap;
}

.custom-btn:hover {
  background-color: #5a9e3d;
  transform: scale(1.05);
}
