<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .linea{
            width: 300px;
            height: 100px;
            border: solid 7px rgb(224, 101, 255);
            border-color:  rgb(224, 101, 255) transparent transparent transparent;
            border-radius: 50%/100px 100px 0 0;
        }
    </style>
</head>
<body>
    <div class="linea"></div>
</body>
</html>