{% extends "common/base.html" %}
{% block title %}Recuperar contraseña{% endblock %}

{% block content %}
<div class="auth-overlay">
  <div class="auth-card">
    <h3 class="text-center fw-bold text-success mb-4">Recuperar contraseña</h3>

 {% with messages = get_flashed_messages(with_categories=true, category_filter=["forgot_password_success", "forgot_password_danger", "forgot_password_warning"]) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-dismissible fade show
                  {% if category == 'forgot_password_success' %}alert-success
                  {% elif category == 'forgot_password_warning' %}alert-warning
                  {% elif category == 'forgot_password_danger' %}alert-danger
                  {% endif %}" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


    <!-- Formulario -->
    <form method="post" action="{{ url_for('auth.forgot_password') }}">
      <div class="mb-3">
        <input type="email" class="form-control auth-input" name="email" placeholder="Correo electrónico" required>
      </div>
      <button type="submit" class="btn btn-success w-100 auth-btn">✅ Enviar enlace de recuperación</button>
    </form>

    <div class="text-center mt-3">
      <a href="{{ url_for('auth.login') }}" class="small text-primary">Volver al login</a>
    </div>
    <div class="close-login-btn">
     <a href="{{ url_for('index') }}" class="btn btn-outline-secondary mt-3 w-100">Cerrar </a>
      </div>
  </div>
</div>
{% endblock %}
